.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
	text-align: center;
}

.Error {
	width: 100%;
	min-height: 100vh;
}

.banner {

	font-size: 10em;
	font-family: 'Quattrocento Sans', sans-serif !important;
}

.message {
	font-size: 1.5em;
	text-align: center;
}